NODE_ENV = "dev"

PORT = 4000

FRONTEND_URL = "http://localhost:3000"

DB_URL = "postgresql://postgres:abhishek12345@localhost:6432/urlshortenerdb"

DB_HOST = yourserverip
DB_PORT = 5432
DB_NAME = dbname
DB_USER = dbusername
DB_PASSWORD = dbpassword

SALT_ROUNDS = 12

ACCESS_TOKEN_SECRET = "aufguyidbvuw8yrt3287ry3qwfj3849ghwfy3487w9gfhwrghwerf092w34rhgyuwnvc7"
ACCESS_TOKEN_EXPIRES_IN = "15m"

REFRESH_TOKEN_SECRET = "jnvcjskdnbdghj8urh2367r524bfgwhgyuhdcfbasdvrqwefuywqgtureytuwhedfwyr8"
REFRESH_TOKEN_EXPIRES_IN = "7d"

URL_SHORTCODE_LENGTH = 8

REDIS_HOST = "127.0.0.1"
REDIS_PORT= "6379"

GLOBAL_RATE_LIMIT_WINDOW = 15
GLOBAL_RATE_LIMIT_SIZE = 100
LOGIN_RATE_LIMIT_WINDOW = 10
LOGIN_RATE_LIMIT_SIZE = 50
SHORT_URL_RATE_LIMIT_WINDOW = 10
SHORT_URL_RATE_LIMIT_SIZE = 50

SHORT_URL_TOKEN_BUCKET_CAPACITY = 20
SHORT_URL_TOKEN_REFILL_RATE = 1
SHORT_URL_TOKEN_REFILL_INTERVAL = 3000

URL_CACHE_TTL = 1800
HOT_URL_CACHE_TTL = 60

CACHE_WARMER_TIME_EVERY = 15

WARM_HOT_URLS_LIMIT = 100

LOCK_TTL_SECONDS = 5

JITTER_PERCENT = 0.1
